<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <h1 class="text-center">
                <a href="/" style="text-decoration: none; color:  #7952b3;" class="font-weight-bold font-italic">
                  <img src="images/logo2.png" alt=" " class="img-fluid">ETron bay
                </a>
              </h1>

              <h2 class="fw-bold mb-2 text-uppercase" style="color: black;">Login</h2>
              <p class="text-dark-50 mb-5">Enter your login credentials</p>

              <form action="/loginsubmit" method="POST" id="loginForm" role="form">
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" placeholder="email" name="email" id="email"
                    class="form-control form-control-lg" / required>
                </div>
                <h2 id="result"></h2>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" placeholder="password" name="password"
                    class="form-control form-control-lg" / required>
                </div>
                {{#if blockError}}
                <span style="color: firebrick;">User blocked</span>
                {{/if}}
                {{#if loginErrorStatus}}
                <span style="color: firebrick;">Incorrect username or password</span>
                {{/if}}
                {{#if userfromsignupShow}}
                <span style="color: firebrick;">Login to continue</span>
                {{/if}}
                {{#if passChange}}
                <span style="color: firebrick;">Password updated..Login to continue</span>
                {{/if}}

                <div class="row">
                  <div class="col-sm-6" style="text-align: left;">
                    <a href="/verifyContact" style="text-decoration: none;">Forgot Password?</a>
                  </div>
                  <div class="col-sm-6" style="text-align: right;">
                    <a href="/loginUsingOTP" style="text-decoration: none;">Log In using OTP</a>
                  </div>
                </div>


                <br>
                <button class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>
                <div>
                  <br>
                  <p class="mb-0">Don't have an account?
                    <a href="/signup" style="text-decoration: none;" class="text-dark-50 fw-bold">Sign Up</a>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#loginForm").validate({
      rules: {
        email: {
          required:true,
          email: true
        },
        password: {
          required: true
        }
      },
      messages: {
        email: {
          required: "Enter your mail"
        },
        password: {
          required: "Enter your password"      
        }
      }
    })
  })
</script>